.recipe-details-item {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 600px;
    box-shadow: 5px 5px 6px 3px rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 60px;
    border: solid 4px deepskyblue;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.image-div {
    justify-content: center;
    overflow: hidden;
}

.food-image {
    width: 100%;
}

.details-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.data-logo {
    height: 50px;
}

.data-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
