.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    background-color: lightblue;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

