.comment-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin-top: 30px;
}

.comments-title {
    color: darkblue;
}

.comments-input-div {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.comments-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-comments {
    color: darkblue;
    font-size: 20px;
    font-weight: bold;
}

.comments {
    width: 100%;
}